/* app css stylesheet */

img.status {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;
}

#app .start #logo {
  width: 250px;
  height: 250px;
}
#app .run {
  width: 100%;
}
#app {
  width: 100%;
  margin: 10px;
}

#container {
  max-width: 800px;
  margin: auto;
}

