
#logo
{
	height: 250px;
	width:	250px;
	margin:	auto;
}

md-toolbar h1
{
  font-size: 1.250em;
  font-weight: 400;
  margin: auto;
}

md-list{
	padding : 0;
}

.md-tile-content
{
	width: 100%;
}
.answer-button
{
	margin: 3px;
}

html {
	background-image: url("../images/agsquare.png");
}

body {
}

#currentQuestion,
.answeredQuestion,
.diagnosis,
#contentContainer,
#headerbar,
#languagebar {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

#mainRun {
	margin-bottom: 10px;
}

.md-icon-button .s36 {
	width: 36px;
	height: 36px;
}

#languageBar button {
	z-index: 1;
}