/* fixed header */
#header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 10;
}

#logo {
	height: 250px;
	width:	250px;
	margin:	auto;
}
#logo.smaller{
	height: 150px;
	width: 150px;
}

.white md-icon.md-default-theme {
	color: white;
}

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
  margin: auto;
}

md-list {
	padding : 0;
}

.answer-button {
	margin: 3px;
}

html {
	background-image: url("../images/agsquare.png");
}

#app, #mainRun {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}
#app {
	margin-top: 64px;
}

#app.mainPage {
	margin-bottom: 68px;
}

#footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 68px;
	left: 0px;
	background-color: white; 
}

.md-icon-button .s36 {
	width: 36px;
	height: 36px;
}

.md-icon-button .faintIcon {
	opacity: 0.8;
}

h1{
	text-align: center;
}

.profile-title{
	border-bottom: 1px solid;
	padding-left: 0 !important;
}
.profile-subtitle{
	padding-left: 0;
}

.profile-row{
	margin: 1em 0;
}

.age-category{
	margin-top: 1em;
}

.language-selected {
	border: 1px solid rgb(63,81,181);
}

#answeredQuestions .answeredQuestion button h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 5px;
}
.answeredQuestion {
  color: #939393;
}

#followUpList {
	max-height: 500px;
}
.followUp {
	margin: 10px 0;
	border-bottom: 1px solid #DDD;
}

.followUpDesc p,
.followUpDesc h4 {
	padding: 0;
	margin: 0;
}

.notReady {
	color: rgb(210, 210, 210);
}

.partialContent{
	overflow: auto;
}

.currentQuestion{
	min-height: 80px;
}

.pwContainer {
	padding-bottom: 0px;
}

.forgotPassword {
	text-decoration: underline;
	font-size: 0.75em;
}

.additionalActions {
	position: fixed;
	bottom: 5px;
	right: 5px;
	left: 5px;
}
