<div layout="column">
	<md-content class="diagnosis">
		<md-card layout="column" layout-align="center center" flex class="md-tile-content">
			<div>Ihre Diagnose:</div>
			<div>{{diagnosis.short_desc}}</div>
			<div>{{diagnosis.description}}</div>
			<div></div>
			<div>Handlungsempfehlung:</div>
			<div>{{actionSuggestion.description}}</div>
		</md-card>
        <div layout="row" flex>
            <md-button ng-hide="true" flex="20" class="md-raised md-accent" ng-click="goToRun()">Neue Diagnosis</md-button>
        </div>
	</md-content>
</div>