<div>
	<md-content>
		<md-card layout="column" layout-align="center center" flex class="md-tile-content">
			<h4>Ihre Diagnose:</h4>
			<h2>{{diagnosis.short_desc}}</h2>
			<h3>{{diagnosis.description}}</h3>
			<h2></h2>
			<h4>Handlungsempfehlung:</h4>
			<h3>{{actionSuggestion.description}}</h3>
		</md-card>
        <div layout="row" flex>
            <md-button ng-hide="true" flex="20" class="md-raised md-accent" ng-click="goToRun()">Neue Diagnosis</md-button>
        </div>
	</md-content>
</div>