<div layout="column">
    <div class="diagnosis">
        <md-card layout="column" layout-align="start center" flex class="md-tile-content">
	        <md-card-content>
	            <h2>Diagnose: {{diagnosis.short_desc}}</h2>
	            <p>{{diagnosis.description}}</p>
	            <h3>Handlungsempfehlung</h3>
	            <p>{{actionSuggestion.description}}</p>
	        </md-card-content>
        </md-card>
        <div layout="row" flex>
            <md-button ng-hide="true" flex="20" class="md-raised md-accent" ng-click="goToRun()">Neue Diagnosis</md-button>
        </div>
    </div>

    <div class="follow-up">
        <md-card layout="column" layout-align="start center" flex class="md-tile-content">
	        <md-card-content>
    	        <h2>Follow-Up</h2>
    	        <p>Sie können zu einem späterem Zeitpunkt ein Follow-Up zu dieser Diagnose durchführen. Dadurch können Sie mit einem weiteren Durchlauf die Diagnose bestätigen.</p>
		        <div layout="row" layout-align="center center" flex>
		            <md-button flex="20" class="" ng-click="goToMain()">Lieber nicht</md-button>
		            <md-button flex="20" class="md-raised" ng-click="addFollowUp()">Follow-Up eintragen</md-button>
		        </div>
	        </md-card-content>
        </md-card>
    </div>
</div>