<md-content layout="column" layout-align="space-between space-between" >
	<md-list>
		<md-list-item class="answeredQuestion" ng-repeat="question in answeredQuestions" ng-click="reviseQuestion(question, $event)">
			<h3 flex>{{question.question.description}}</h3>
			<h3>{{question.answer.desc}}</h3>
			<!--<md-icon md-svg-icon="communication:messenger" ng-class="{'md-primary': person.newMessage}"></md-icon>-->
		</md-list-item>
	</md-list>

	
    <md-card>
		<md-card-content>
			<div ng-show="loading" layout-align="center center" layout="row">
				<md-progress-circular md-mode="indeterminate" ng-show="loading"></md-progress-circular>
			</div>
	
			<div ng-hide="loading || hidden">
				<h3><span>{{currentQuestion.description}}</span></h3>
				
				<!-- TYPE: YES NO MAYBE -->
				<div ng-show="currentQuestion.type == 'yesnomaybe'" layout="row" layout-align="center center">
					<md-button flex="25" class="md-raised answer-button" ng-class="answer.style" ng-click="answerQuestion(answer)" ng-repeat="answer in currentQuestion.answers">{{answer.desc}}</md-button>
				</div>

				<!-- TYPE: LIST -->
				<div ng-show="currentQuestion.type == 'list'" layout="column" layout-align="center center">
					<md-button class="md-raised answer-button" ng-click="answerQuestion(answer)" ng-repeat="answer in currentQuestion.answers">{{answer.desc}}</md-button>
				</div>
			</div>

		</md-card-content>
	</md-card>
</md-content>