<div layout="column">
	<md-content layout-padding layout="column" layout-sm="column">
		<div class="profile-title" flex>Profil:</div>
		<md-input-container flex>
			<label for="email">E-Mail: </label>
			<input ng-model="user.email" type="email" id="email" required>
			<div ng-messages="projectForm.description.$error">
				<div ng-message="required">Pflichtfeld!</div>
			</div>
		</md-input-container>
		<md-input-container flex>
			<label for="password">Passwort: </label>
			<input ng-model="user.password" type="password" id="password" required>
			<div ng-messages="projectForm.description.$error">
				<div ng-message="required">Pflichtfeld!</div>
			</div>
		</md-input-container>
		<md-input-container flex>
			<label for="name">Name: </label>
			<input ng-model="user.name" id="name">
		</md-input-container>
		<div class="profile-title" flex>Pers&ouml;nliche Angaben:</div>
		<div flex layout="column">
			<div class="profile-subtitle">Geschlecht:</div>
			<div layout="row" class="gender-row">
				<md-button id="gender-button-1" flex class="md-raised registration-button" ng-click="setGender(1)">M&auml;nnlich</md-button>
				<md-button id="gender-button-2" flex class="md-raised registration-button" ng-click="setGender(2)">Weiblich</md-button>
			</div>
			<div class="profile-subtitle">Altersbereich:</div>
			<md-select placeholder="Bitte ausw&auml;hlen" ng-model="user.age_category" class="age-category">
				<md-option value="1">bis 12 Jahre</md-option>
				<md-option value="2">12 - 24 Jahre</md-option>
			</md-select>
		</div>
		<div class="profile-title" flex>Einstellungen:</div>
		<div flex layout="column">
			<div class="profile-subtitle" >Sprache:</div>
			<div layout="row">
				<md-button id="language-button-1" class="md-icon-button" aria-label="Deutsch" ng-click="changeLanguage(1)">
					<md-icon md-svg-icon="images/icons/de.svg" class="s36"></md-icon>
				</md-button>
				<md-button id="language-button-2" class="md-icon-button" aria-label="English" ng-click="changeLanguage(2)">
					<md-icon md-svg-icon="images/icons/en.svg" class="s36"></md-icon>
				</md-button>
				<md-button id="language-button-3" class="md-icon-button" aria-label="Français" ng-click="changeLanguage(3)">
					<md-icon md-svg-icon="images/icons/fr.svg" class="s36"></md-icon>
				</md-button>
			</div>
		</div>
		<div flex layout="row" layout-align="center center">
			<md-button ng-click="cancelClick()" class="registration-button" flex>Abbrechen</md-button>
			<md-button class="md-raised md-primary registration-button" ng-click="registerClick()" flex>Registrieren</md-button>
		</div>
				
	</md-content>
</div>